@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(7, 59, 76);
    color:  black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app-container{
    margin: 2rem;
    border: 1rem solid rgb(224, 251, 252);
    background: rgb(224, 251, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#location{
    font-size: 2.5rem;
    padding-top: 2rem;
}

#temp{
    text-align: center;
}

#temp, #temp-value{
    font-size: 3rem;
}

#temp-icon{
    width: 45%;
    height: auto;
    margin: 0.5rem;
}

#climate, #country{
    font-size: 1.75rem;
}
#climate-desc{
    font-size: 1rem;
    padding-bottom: 2rem;
}

